body{
    margin: 0;
    padding: 0;
    background: white;
}

h2{
    color:white;
    text-transform: uppercase;
    font-size:40px;

}
form{
	-webkit-box-shadow: 0px 0px 46px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 46px -6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 46px -6px rgba(0,0,0,0.75);
}

/*formulier*/
.login{
    width: 600px;
    padding: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #C3DAFB;
    text-align: center;
    border-radius: 60px;

}
/*inlog knop*/
.inloggen {
	box-shadow: 0px 0px 17px 0px #3dc21b;
	background-color:#27c22c;
	border-radius:30px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 40px;

}
.inloggen:hover {
	background-color:#6ad132;
}

/*inlog velden*/
.input{
    border:0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;

}


.Groen{
	text-decoration: none;
	color: green;
}
